footer.footer
  .wrapper
    .social-btn
      a(href="#" class="social-link")
       img(src="../img/vk.svg")
      a(href="#" class="social-link")
       img(src="../img/fb.svg")
      a(href="#" class="social-link")
       img(src="../img/tw.png")
      a(href="#" class="social-link")
       img(src="../img/ok.png")
   
    .footer__nav
       .about
          p
            a(href="#" class="footer-link") O Нас
          p
            a(href="#" class="footer-link") Контактная Информация
        .docs
          p
            a(href="#" class="footer-link") Пользовательское соглашение
          p  
            a(href="#" class="footer-link") Документы
          p
            a(href="#" class="footer-link") Техническая информация
        .other
          p
            a(href="#" class="footer-link") Добавить публикацию
          p
            a(href="#" class="footer-link") Вакансии
  .footer-delimetr
  
  .copyright © 2015-2017. Наш Электронный Дом, Россия. Все права защищены.