header.header
  .wrapper__nav
    nav.nav
      ul 
        li
          a(href='#' class="nav__link") Публикации
        li
          a(href="#" class="nav__link") Новости
        li
          a(href="#" class="nav__link") Объявления
        li
          a(href="#" class="nav__link") Знакомства
        li
          a(href="#" class="nav__link") Конкурсы
        li
          a(href="#" class="nav__link") Контактная информация