body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background: $nav-color;
}

* {
  box-sizing: border-box;
  
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -292px;
    
    &:after {
        content: "";
        display: block;
    }
}

.footer, .page-wrap:after {
    height: 292px;
}

img {
  max-width: 100%;
  height: auto;
}

p,
a,
span,
div,
b,
strong,
mark,
small,
input,
label,
textarea,
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', 'Arial', sans-serif;
}

ul {
  list-style: none; 
  margin: 0 auto;
}

a {
    text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
    height: 100%;
  margin: 0 auto;
}

.btn {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: $nav-color;
    outline: none;
    text-decoration: none;
}