.wrapper
  .service-wrap
      .service__tittle НАШИ СЕРВИСЫ
      .service-list 
        .service-item
          .service-item__img
            img(src="../img/publ.svg")
          .service-item__title Публикации
          .service-item__text.
            Сервис персональных публикаций предназначен для публикации собственные статьей, рассказов с картинками и фотографиями, размещения информации о технологиях, методах используемых Вами в работе и распространения их в рекламных целях
          a(href="#" class="btn  service-btn") Перейти
        .service-item
          .service-item__img
            img(src="../img/publ.svg")
          .service-item__title Публикации
          .service-item__text.
            Сервис персональных публикаций предназначен для публикации собственные статьей, рассказов с картинками и фотографиями, размещения информации о технологиях, методах используемых Вами в работе и распространения их в рекламных целях
          a(href="#" class="btn  service-btn") Перейти
        .service-item
          .service-item__img
            img(src="../img/publ.svg")
          .service-item__title Публикации
          .service-item__text.
            Сервис персональных публикаций предназначен для публикации собственные статьей, рассказов с картинками и фотографиями, размещения информации о технологиях, методах используемых Вами в работе и распространения их в рекламных целях
          a(href="#" class="btn  service-btn") Перейти