.intro
  .wrapper
    .wrapper-intro
      .head-info
        .logo
          img(src="../img/logo.png")
          span.logo__text НАШ ЭЛЕКТРОННЫЙ ДОМ
        .account__btn
          a(class="btn  reg__btn" href="#") Регистрация
          a(class="btn  lk__btn" href="#") Вход
          
    .intro__title 
      p НАШ ЭЛЕКТРОННЫЙ ДОМ
      .subtitle Предназначен нести в настоящий дом каждого порядок и благополучие
      .intro-delimetr
  